@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*, body, html {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    padding: 12px;
}
button{
    cursor: pointer; 
}
.add {
    background: #36B900;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
}
.add:hover {
    background: #44D807;
}

.del {
    background: #FF4E00;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
}
.del:hover {
    background: #FF7133;
}

.num{
    font-size: 2.5em;
    color: #00A7FF;
}